
@keyframes green-wave-animation {
  0% {
    color: #1B4332;
  }
  9.09% {
    color: #2D6A4F;
  }
  18.18% {
    color: hwb(153 25% 43%);
  }
  27.27% {
    color: #52b788;
  }
  36.36% {
    color: hwb(150 45% 22%);
  }
  45.45% {
    color: #95D5B2;
  }
  54.54% {
    color: #74C69D;
  }
  63.63% {
    color: #52B788;
  }
  72.72% {
    color: #40916C;
  }
  81.81% {
    color: #2D6A4F;
  }
  90.9% {
    color: #1B4332;
  }
  100% {
    color: #1B4332;
  }
}

.green-wave-effect {  
  animation: green-wave-animation 8s linear infinite;
}

@keyframes monochrome-wave-animation {
  0% {
    color: black;
  }
  16.67% {
    color: darkgrey;
  }
  33.34% {
    color: grey;
  }
  50.01% {
    color: lightgrey;
  }
  66.68% {
    color: grey;
  }
  83.35% {
    color: darkgrey;
  }
  100% {
    color: black;
  }
}

.monochrome-wave-effect {  
  animation: monochrome-wave-animation 8s linear infinite;
}

.professional-header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image:   linear-gradient(135deg, rgb(128, 128, 128, 0.25) 25%, transparent 25%), 
                      linear-gradient(225deg, rgb(211, 211, 211, 0.25) 25%, transparent 25%), 
                      linear-gradient(45deg, rgb(128, 128, 128, 0.25) 25%, transparent 25%), 
                      linear-gradient(315deg, rgb(211, 211, 211, 0.25) 25%, transparent 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  animation: professional-header-wave-animation 150s linear infinite;
}

@keyframes professional-header-wave-animation {
  0% {
    background-position: -100% 0, -100% 0, 0 0, 0 0;
  }
  100% {
    background-position: 100% 0, 100% 0, -100% 0, -100% 0;
  }
}



.personal-header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image:   linear-gradient(135deg, rgb(64, 145, 108, 0.25) 25%, transparent 25%), 
                      linear-gradient(225deg, rgb(116, 198, 157, 0.25) 25%, transparent 25%), 
                      linear-gradient(45deg, rgb(64, 145, 108, 0.25) 25%, transparent 25%), 
                      linear-gradient(315deg, rgb(116, 198, 157, 0.25) 25%, transparent 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  animation: personal-header-wave-animation 150s linear infinite;
}

@keyframes personal-header-wave-animation {
  0% {
    background-position: -100% 0, -100% 0, 0 0, 0 0;
  }
  100% {
    background-position: 100% 0, 100% 0, -100% 0, -100% 0;
  }
}





button[selected="true"] {
  background-color: white;
  color: black    
}

.navbar {
  height: 48px
}

.nav-link {
  padding: 0;
}

.toggle-slct {
  cursor: pointer
}

/* carousel */

.carousel-inner{
  width:100%;
  max-height: 700px !important;
}

.carousel-portrait{
  width:auto;
  max-height: 700px !important;
  object-fit:none;
}

.carousel-control-next,
.carousel-control-prev , .carousel-indicators {
  mix-blend-mode: difference;
}


/* Audio Player */

.view {
  height: 100%;
}

#mobile-box {
  width: 360px;
}

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 a {
  color: #0d47a1;
}

.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}


.nav-button:focus {
  background-color: white;
  color: black;
}